<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    /* Add space between rows */
    tr.add-space {
        margin-bottom: 40px; /* Adjust the value as needed */
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.6/datatables.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="d-flex">
    <div th:replace="~{fragments/side-panel :: aside}"></div>
    <div class="container shadow mb-5 bg-body rounded" style="margin-top: 30px; margin-left: 50px;">
        <h2>Schedule</h2>
        <div>
            <span>
                Filters:
            </span>
            <div>
                <label>
                    <span>Group</span>
                    <select
                            id="groupSelect">
                        <option value="">All</option>
                        <option th:each="group : ${groups}"
                                th:value="${group.id}"
                                th:text="${group.name}"
                                th:selected="${group.id == currentGroup.id}">
                        </option>
                    </select>
                </label>
                <label>
                    <span>Course</span>
                    <select
                            id="courseSelect">
                        <option value="">All</option>
                        <option th:each="course : ${courses}"
                                th:value="${course.id}"
                                th:text="${course.name}"
                                th:selected="${course.id == currentCourse.id}">
                        </option>
                    </select>
                </label>
                <label>
                    <span>Teacher</span>
                    <select
                            id="teacherSelect"
                    >
                        <option value="">All</option>
                        <option th:each="teacher : ${teachers}"
                                th:value="${teacher.id}"
                                th:text="${teacher.firstName +' '+ teacher.lastName}"
                                th:selected="${teacher.id == currentTeacher.id}">
                        </option>
                    </select>
                </label>

            </div>
            <span>
                Checkboxes:
            </span>

            <div>
                <label style="padding-right: 10px;">Group
                    <input
                            type="checkbox"
                            id="showGroupCheck"
                            th:checked="${showGroup}"
                            onclick="handleCheckboxClick('showGroupCheck')"
                    />
                </label>
                <label style="padding-right: 10px;">Classroom
                    <input
                            type="checkbox"
                            id="showClassroomCheck"
                            th:checked="${showClassroom}"
                            onclick="handleCheckboxClick('showClassroomCheck')"
                    />
                </label>
                <label style="padding-right: 10px;">Course
                    <input
                            type="checkbox"
                            id="showCourseCheck"
                            th:checked="${showCourse}"
                            onclick="handleCheckboxClick('showCourseCheck')"
                    />
                </label>
                <label style="padding-right: 10px;">Teacher
                    <input
                            type="checkbox"
                            id="showTeacherCheck"
                            th:checked="${showTeacher}"
                            onclick="handleCheckboxClick('showTeacherCheck')"
                    />
                </label>
            </div>


        </div>
        <table>
            <thead>
            <tr>
                <th></th>
                <th th:each="day : ${days}" th:text="${day}">
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lessonNumber : ${lessonNumbers}"
                class="add-space">
                <td th:text="${lessonNumber}"></td>
                <td th:each="day : ${days}">
                    <div
                            th:with="cell=${universitySchedule.getCell(day, lessonNumber)}">
                        <div th:each="lesson : ${cell.lessons}"
                             class="shadow rounded" style="padding: 5px;">
                            <span
                                    th:if="${showCourse}"
                                    th:text="${lesson.course.name}"></span><br/>
                            <span
                                    th:if="${showGroup}"
                                    th:text="${lesson.group.name}"></span><br/>
                            <span
                                    th:if="${showClassroom}"
                                    th:text="${lesson.classroom.number}"></span><br/>
                            <span
                                    th:if="${showTeacher}"
                                    th:text="${lesson.teacher.firstName + ' ' + lesson.teacher.lastName}"></span>
                        </div>
                    </div>
                </td>
                <!-- Horizontal line separator within the loop -->
                <td>
                    <div class="hr" style="margin-top: auto;"></div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

</div>
<script th:inline="javascript">
    function generateUrl(urlParams) {
        let str = "";

        urlParams.forEach((value, key) => {
            if (value === "") {
                urlParams.delete(key);
            } else {
                str = str + key + "=" + value + "&";
            }
        })
        if (str !== "") {
            str = '?' + str.substring(0, str.length - 1);
        }
        return 'schedule' + str;
    }

    // Retrieve and set the initial state of checkboxes from local storage
    // document.getElementById('showCourseCheck').checked = localStorage.getItem('showCourseCheck') === 'true';
    // document.getElementById('showGroupCheck').checked = localStorage.getItem('showGroupCheck') === 'true';
    // document.getElementById('showClassroomCheck').checked = localStorage.getItem('showClassroomCheck') === 'true';
    // document.getElementById('showTeacherCheck').checked = localStorage.getItem('showTeacherCheck') === 'true';


    // Function to handle checkbox click event
    function handleCheckboxClick(checkboxId) {
        const checkMap = {
            showCourseCheck: 'showCourse',
            showGroupCheck: 'showGroup',
            showClassroomCheck: 'showClassroom',
            showTeacherCheck: 'showTeacher'
        }
        // Toggle the Thymeleaf condition based on the checkbox state
        const checkbox = document.getElementById(checkboxId);
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set(checkMap[checkboxId], checkbox.checked);
        console.log(urlParams.toString());
        window.location.href = generateUrl(urlParams);
    }


    document.getElementById("groupSelect").onchange = function () {
        const groupId = this.value;
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set("groupId", groupId);
        window.location.href = generateUrl(urlParams);
    }

    document.getElementById("courseSelect").onchange = function () {
        const courseId = this.value;
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set("courseId", courseId);
        window.location.href = generateUrl(urlParams);
    }

    document.getElementById("teacherSelect").onchange = function () {
        const teacherId = this.value;

        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set("teacherId", teacherId);
        window.location.href = generateUrl(urlParams);
    }

</script>
</body>
</html>